
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;  //makni scrolbar sa body-ja
}

.container {
  width: 100%;
  height: 100%;
  /*CSS Smooth Scroll */
  overflow-y: scroll; // dodaj scrollbar 
  scroll-behavior: smooth; // postavi smooth scrollanje (nije cross-browser compatible :(
  scroll-snap-type:y mandatory;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1; //allwasy on top
  display: flex;
  width: 100%;
  height: 60px;
  background:rgba(0,0,0,0.7);

  ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;

    li {
      margin: 0 1rem;
      padding: 1rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #f4f4f4;

        :hover {
          color: skyblue;
        }
      }
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh; // each section takes the whole vioewport :)
  scroll-snap-align: center;

  h1 {
    font-size: 4rem;

    p {
      font-size: 1.5rem;

    }
  }
}

  #home{
    background: url('https://source.unsplash.com/bZZp1PmHI0E/1600x900') no-repeat center center/cover;
  }

  #about {
    background: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900') no-repeat center center/cover;
  }

  #services {
    background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;
  }
  #contact {
    background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;
  }
